/*
 * TAG OVERRIDES
 */

@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap');

html {
  font: 18px/24px 'Barlow', sans-serif;
  color: #333333;
  border-width: 0 0 2px 0;
  border-radius: 0;
}

body {
  margin: 0;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

table {
  text-align: left;
  max-width: 940px;
  overflow: hidden;
  margin: 0px auto;
  padding-top: 3rem;
  margin-top: 1rem;
}

tbody {
  vertical-align: top;
}

td {
  padding: .25rem;
}

select {
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
  appearance: none;
  font-size: .85rem;
  font-weight: 600;
  width: 165px;
  border: 0;
  color: #ffffff;
  background-color: #222222;
  border-radius: 26px;
  padding: .5rem 1rem;
}

input {
  display: block;
  width: 100%;
  border: none;
  padding: .4rem .8rem;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.button--black {
  background-color: #000000 !important;
  color: #ffffff;
}

.block {
  display:  block;
}

.select-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: -50px;
}

.select-wrapper::after {
  content: "↓";
  font-size: 1rem;
  top: 0px;
  right: 24px;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.header {
  z-index: 1;
  position: relative;
  text-align: center;
  display: inline-block;
}

.underline {
  text-decoration: underline;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.status-bubble {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100rem;
  background-color: #70bb70;
  cursor: pointer;
}

.status-bubble-popover {
  position: absolute;
  display: none;
  font-size: .75rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50px;
  padding: 0px 11px;
  margin-top: -30px;
}

.status-bubble:hover .status-bubble-popover {
  display: inline;
}

.status-bubble--inactive {
  background-color: red;
}

.subline {
  position: relative;
  z-index: 0;
  margin-top: -1rem;
}

.map {
  opacity: 1;
  transition: opacity .25s ease-in;
  position: absolute;
}

.map-hidden {
  opacity: 0;
  display: inline-block;
  position: absolute;
}

.map-visible {
  opacity: 1;
  position: absolute;
  display: inline-block;
  max-width: 1024px;
  margin-top: -25rem;
  margin-left: -56rem;
  width: 100vw;
  z-index: -1;
}

.table {
  display: block;
}

.table--collapsed {
  height: 440px;
  overflow: hidden;
}

button {
  color: #333333;
  border-width: 0 0 2px 0;
  border-radius: 0;
}

button, input {
  font: 19px/24px 'Barlow', sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

.h1 {
  font-weight: 500;
  font-size: 2.2rem;
  max-width: 23rem;
  line-height: 2.4rem;
  margin: auto;
  margin-bottom: 2rem;
  display: inline-block;
}

.h4 {}

.h5 {
  /*margin-bottom: 0rem;*/
  margin-top: 1rem;
}

.sources {
  font-size: .85rem;
  margin-top: 0;
}

.logo {
  background: url(../img/logos.png) center center no-repeat;
  background-size: contain;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  height: 3rem;
  display: block;
}

.title {
  border-bottom: 1px solid #d4d4d4;
  text-transform: uppercase;
}

.p {
  max-width: 24rem;
  padding: 2rem;
  display: inline-block;
}

.links {
  position: fixed;
  display: flex;
  top: 15px;
  right: 15px;
  z-index: 2;
  align-items: center;
}

.app {
  /*max-width: 50rem;*/
  position: relative;
  z-index:  0;
  padding: 2rem;
  margin: 0px auto;
  font-size: 16px;
  padding-bottom: 3rem;
  padding-top: 1rem;
  margin-top: -1rem;
}

.app iframe {
  width: 100%;
  border: none;
  height: 800px;
}

.button {
  outline: 0;
  background-color: #ffed14;
  border: 0;
  padding: 6px 20px;
  font-size: .85rem;
  border-radius: 26px;
  font-weight: 400;
  cursor: pointer;
}

.button--github {
  background: url(../img/github.svg) left no-repeat;
  background-size: contain;
  height: 1.5rem;
}

.button--fullwidth {
  margin: 7px auto 5px auto !important;
  background-color: #f3f3f3;
}

.footer {
  font-size: .8rem;
  line-height: 1.2rem;
  border-top: 1px solid #d4d4d4;
}

.emoji {
  width: 3rem;
  display: block;
  margin: auto;
}

.add-form{
  display: flex;
  width: 100vw;
  margin: 0px auto;
  justify-content: center;
  margin-bottom: 4rem;
}

.table-fade {
  margin-top: -5rem;
  background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

form {
  width: 20rem;
}

.flexbox {
  display: flex;
  margin: 0px auto;
  max-width: 45rem;
}

.detail {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 6;
  box-sizing: border-box;
  display: none;
  text-align: center;
  overflow: scroll;
}

.detail-view {
  max-width: 30rem;
  display: inline-block;
  word-break: break-word;
}

.detail-data {
  display: inline-block;
  text-align: left;
}

.detail--show {
  display: inline-block;
}

.detail-close {
  width: 1rem;
  height: 1rem;
  background-color: #333333;
  cursor: pointer;
  float: right;
}

.detail-close:after {
  content: "close";
  margin-left: -4rem;
  position: relative;
  font-size: .85rem;
  top: -0.3rem;
}

.mod--displayblock {
  display: block;
  margin: 0px auto;
}

@media only screen and (max-width: 680px) {
  .flexbox {
    align-items: center;
    flex-direction: column;
  }
}

.p--lessmargin {
  margin-bottom: -2rem;
}

/* Overrides */
.jss2, .MuiTypography-root, .MuiBox-root {
  background-color: #ffffff !important;
}

.jss39, .MuiTypography-body1 {
  background-color: #ffffff !important;
  font-size: 0.85rem !important;
  font-weight: 500 !important;
}

.MuiTypography-body2 {
  font-family: 'Barlow', sans-serif !important;
}

button.MuiButtonBase-root.MuiIconButton-root:first-of-type:hover {
  background: none;
}

button.MuiButtonBase-root.MuiIconButton-root:first-of-type:after {
  content: "filter categories";
  position: absolute;
  font-size: .85rem;
  width: 7rem;
  right: -6.2rem;
  top: 13px;
}

.fullwidth {
  margin-bottom: 23rem;
}

.distribution {
  position: absolute;
  left: 0;  
  background: url(../img/distribution.svg) center no-repeat;
  width: 100vw;
  height: 20rem;
  background-size: 100%;
  position: absolute;
  left: 0;  
}

.app svg {
  overflow: initial;
}

.body--noscroll {
  overflow: hidden;
}

iframe .dw-chart-footer {
  display:  none;
}

@media only screen and (max-width: 768px) {
  .links {
    display: none;
  }
}