<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8" content="">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="detail">
    <div class="detail-view">
      <div class="detail-close"></div>
      <div class="detail-data"></div>
    </div>
  </div>
  <div class="header">
    <div class="logo"></div>
    <div class="title">
      <h1 class="h1">Pionierjournalismus in Deutschland</h1>
    </div>
    <div class="subline">
      <p class="p">Eine interaktive Landschaft der innovativen Akteure, Projekte und Unternehmen</p>
    </div>
  </div>
  <div class="links">
    <a href="https://github.com/Leibniz-HBI/xjournalism-data" target="_blank"><button class="button button--github"></button></a>
    <a href="loosen_et_al_2020_xjournalism.pdf" target="_blank"><button class="button">Download Paper</button></a>
  </div>
  <div class="legend"></div>
  <div class="app"></div>

  <div class="subline">
    <img class="emoji" src="https://abs.twimg.com/emoji/v2/svg/1f44b.svg"></img>
    <p class="p mod--displayblock">This is a work-in-progress. We're sure there are many more pioneering actors, startups and projects out there! Let us know about yours.</p>
    <a href="https://twitter.com/x_journalism" target="_blank"><button class="button button--fullwidth mod--displayblock">@pionierjournalismus on Twitter</button></a>
    <a href="mailto:submit@xjournalism.org" target="_blank"><button class="button button--fullwidth mod--displayblock">Send us a Mail</button></a>
  </div>

  <p>&nbsp;</p>

  <div class="footer">
    <div class="flexbox">
      <p class="p p--lessmargin">
        An experiment courtesy of "Kommunikative Figurationen", a DFG-funded research project with University of Bremen / Zemki and the Journalism Lab of Leibniz HBI. Our team consists of Andreas Hepp, Wiebke Loosen, Leif Kramp, Hendrik Kühn &amp; Paul Solbach. / 
        Get the database and more from our <a href="https://github.com/Leibniz-HBI/pj-data" target="_blank">Github repository</a>.
      </p>
      <p class="p">
        Leibniz Institute for Media Research | Hans-Bredow-Institut (HBI) / Rothenbaumchaussee 36 / 20148 Hamburg / Tel.: +49 40 450217-0 / info@leibniz-hbi.de<br><br>
        <strong><a href="https://leibniz-hbi.de/en">leibniz-hbi.de/en</a></strong><br>
        <strong><a href="https://leibniz-hbi.de/en/service/imprint">Imprint and Privacy</a></strong><br>
        <strong><a href="loosen_et_al_2020_xjournalism.pdf" target="_blank">Download Paper</a></strong><br>
        <strong><a href="https://github.com/Leibniz-HBI/xjournalism-data" target="_blank">Github</a></strong><br>
        <strong><a href="https://twitter.com/pionierjournalismus" target="_blank">Twitter</a></strong>
      </p>
    </div>
  </div>
</body>
</html>